@import'../variables';

.numbers{
    display: flex;
    justify-content:center;
    width: 100%;
    background: $lite-green;
    padding: 0;
    li{
        color: $color-green;
        text-transform: uppercase;
        list-style-type: none;
        padding: 10px;
    }
}
