@import'../variables';

.aside{
    width: 60%;
    background: $lite-green;
    color: $color-green;
    vertical-align: middle;
    text-align: left;
    margin-right: 20px;
    padding: 10px;
  &__users{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
    justify-content: space-between;
  }
}
