@import'../variables';

.content{
    width: 400px;
    max-width: 400px;
    height: 200px;
    background: $lite-green;
    vertical-align: middle;
    text-align: center;
    p{
        color: $color-green;
        line-height: 200px;
        text-transform: uppercase;
    }
}